<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Albüm Ekle</title>
    <link rel="stylesheet" type="text/css" href="public/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Anasayfa
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Sanatçı</a>
            <div class="navbar-dropdown">
              <a href="sanatcilistele" class="navbar-item">
                Sanatçıları Listele
              </a>
              <a href="sanatciekle" class="navbar-item">
                Sanatçı Ekle
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Albüm</a>
            <div class="navbar-dropdown">
              <a href="albumlistele" class="navbar-item">
                Albümleri Listele
              </a>
              <a href="albumekle" class="navbar-item">
              Albüm Ekle
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Müzik Türleri</a>
            <div class="navbar-dropdown">
              <a href="muzikturlistele" class="navbar-item">
                Müzik Türleri Listele
              </a>
              <a href="muzikturekle" class="navbar-item">
                Müzik Türü Ekle
              </a>
            </div>
          </div>      
        </div>
      </div>
    </nav>
    <hr>
    <div class="container">
      <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
            <ul>
            <li><a href="#">Albümler</a></li>
            <li class="is-active"><a href="#" aria-current="page">Albüm Ekle</a></li>
          </ul>
        </nav>
        <form method="post" action="albumekle">
          <table align="center" class="table is-striped">
            <tr>
              <td style="font-weight:bold">Albüm Adı:</td>
              <td><input required type="text" name="albumadi" class="input"></td>
            </tr>
            <tr>
              <td style="font-weight:bold">Sanatçı Adı:</td>
              <td>
                <select required class="input" name="sanatciadi">
                  <option></option>
                  <% sanatci.forEach(function(data){ %>
                  <option value="<%=data.SanatciId%>"><%=data.SanatciAdi%></option>
                  <% }); %>
                </select>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold">Müzik Türü:</td>
              <td>
                <select required class="input" name="muziktur">
                  <option></option>
                  <% muziktur.forEach(function(data){ %>
                  <option value="<%=data.MuzikTurId%>"><%=data.MuzikTur%></option>
                  <% }); %>
                </select>
              </td>
            </tr>
            <tr>
              <td style="font-weight:bold">Albüm Çıkış Tarihi:</td>
              <td><input required type="date" class="input" name="albumcikistarihi"></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Albüm Ekle" class="button is-info"></td>
            </tr>
        </table>
      </form>
    </div>
  </body>
</html>